ETHERSCAN_API_KEYS_BY_NETWORK='{"1":"ETHERSCAN_API_KEY_MAINNET","3":"ETHERSCAN_API_KEY_ROPSTEN","4":"ETHERSCAN_API_KEY_RINKEBY","42":"KEY","137":"KEY","80001":"KEY"}'
RPC_NETWORK_CONFIGS='{"mainnet": "https://cloudflare-eth.com/", "rinkeby":"https://rinkeby-light.eth.linkpool.io/","mumbai":"https://rpc.ankr.com/polygon_mumbai","polygon":"https://polygon-rpc.com"}'
